---
title: "Verification"
date: 2019-02-28T15:15:34+10:00
weight: 3
---

- Techniques to prove the missing of failures with theoretical guarantees. 


